@import "vars"
@import "fonts"
@import "libs"

::placeholder
	color: #666

::selection
	background-color: $accent
	color: #fff

html, body
	height: 100%
	width: 100vw


body
	font-size: 16px
	min-width: 320px
	position: relative
	line-height: 1.65
	font-family: $default-font
	overflow-x: hidden
	input, textarea
			border: #666 1px solid
			outline: none
			&:focus:required:invalid
				border-color: red
			&:required:valid
				border-color: green

a
	color: inherit
	cursor: pointer
	transition: all 0.5s ease
	&:hover, focus, active
		color: $accent
		text-decoration: none
.img-responsive
	display: block
	max-width: 100%
	height: auto

.text-center
	text-align: center

.center-small
	left: 50%
	position: relative
	transform: translateX(-50%)
	max-width: 520px

.container
	width: 92%
.container-fluid
	padding: 0 15px
.row-reverse
	flex-direction: row-reverse
.uppercase
	text-transform: uppercase

.accent
	color: $accent


/*HERO SECTION*/
.hero-section
	width: 100vw
	overflow: hidden
	height: 100vh
	background-size: cover
	background-image: url('/img/header_image@1920px.jpg')
	&__outer-content
		display: flex
		height: 100vh
	&__inner-content
		margin: auto

	.row
		align-items: center
.header
	position: absolute
	width: 100%
	padding: 25px 65px 0 45px
	&__button-back
		font-size: 18px
		&__icon
			width: 42px
			height: 42px
		&__text
			margin-left: 5px
			font-weight: 500
			vertical-align: middle
	&__logo-sigma
		height: 37px
.sigmavia-icon
	height: 59px
.hero-section
	&__big-title
		margin-top: 90px
		font-size: 64px
		font-weight: 600
		small
			color: #000
			line-height: 25px
			font-size: 0.5625em
			display: block
			font-weight: 600
		&:after
			content: ''
			width: 186px
			height: 2px
			background-color: $accent
			position: relative
			display: block
			left: 50%
			margin-left: -93px
			margin-top: 60px
	&__description-text
		margin-top: 45px
		font-size: 24px
		color: #102c3a
		font-style: italic
		strong
			text-transform: uppercase
			display: block
			color: $accent-2
			font-size: 30px
			font-weight: 600
			font-style: normal
/*HERO SECTION END*/

/*WORK SECTION*/
.work
	&__title
		font-size: 48px
		font-weight: 400
		margin-top: 92px
		font-weight: 600
	&__approach
		margin-bottom: 160px
		margin-top: 60px
		position: relative
		&:before
			content: ''
			height: 1px
			width: 796px
			position: absolute
			background-color: #d3ccd3
			left: 15%
			right: 15%
			margin: 0 auto 
		&__icons
		&__item
			position: relative
			display: flex
			flex-direction: column
			height: auto
			width: 245px
			&:before
				content: ''
				background-image: url('/img/how_we_work_circle.png')
				border-right: 30px solid white
				border-left: 30px solid white
				background-repeat: no-repeat
				position: absolute
				left: 0
				right: 0
				width: 76px
				height: 16px
				margin: -8px auto 0
				top:  calc(0 - $work-item-padding-top)
		&__item.active
			&:before
				display: none
		&__name
			color: $accent-3
			font-size: 24px
			height: 52px
			margin-bottom: 40px
			margin-top: 40px

		&__info
			font-size: 18px
			color: #c0c0c0
.plane
	background-image: url('/img/how_we_work_plane.png')
	z-index: 5
	position: absolute
	height: 50px
	width: 49px
	top: 0
	left: 50%
	transform: translateX(-50%)
	margin-top: -25px
/*WORK SECTION END*/

/*WIREFRAMING SECTION*/
.wireframing
	padding-top: 103px
	color: #fff
	height: 867px	
	background-image: url("/img/wireframing-bg.png")
	background-size: 27.5px
	&__arrow-right,&__arrow-left
		img
			width: 83px
			height: 6px
	&__row-1
		align-items: center
	&__row-3
		margin-top: 79px
		align-items: center
	&__row-2
		margin-top: 57px
		align-items: center
	&__title
		font-size: 48px
	&__description
		font-size: 18px
.wireframe
	&:before
	img
		height: 139px

.wireframe-1
	&:after
		background-image: url('../img/wireframes/arrow_down.png')
		content: ''
		position: absolute
		margin-top: 170px
		margin-left: 50%
		left: 0
    transform: translateX(-50%)
		display: block

/*WIREFRAMING SECTION END*/

/*FLIGHT-SEARCH SECTION*/
.flight-search
	padding-top: 210px
	// display: none
	padding-bottom: 82px
	&--flex
		display: flex
	&--left
		width: 365px
	.filter-options
		height: 115px
		margin-top: 185px
	.mockup
		width: 661px
		position: absolute
		margin-left: 190px
		padding-right: 17px
		margin-top: -40px
		overflow-x: visible
	&__title
		font-size: 24px
		color: #ee290e
	&__desctiption
		margin-top: 36px
		font-size: 15px
/*FLIGHT-SEARCH SECTION END*/

/*TICKET INFO SECTION*/
.ticket-info
	// display: none
	padding-top: 150px
	&--flex
		align-items: center
		justify-content: space-between
		margin: 0
	&__img
		height: 268px
	&__text
		padding: 40px
	&__title
		font-size: 24px
		color: #ee290e
	&__description
		font-size: 15px

/*TICKET INFO SECTION END*/

/*FOOTER*/
.footer
	padding-top: 140px
	padding-bottom: 35px
	&--flex
		padding-left: 20px
		padding-right: 20px
		margin-right: 0

	&__left
		margin-left: 20px
		span
			vertical-align: middle
			font-weight: 500
			margin-left: 20px
	&__right
		img
			transform: rotate(180deg)
		span
			vertical-align: middle
			font-weight: 500
			margin-right: 20px
/*FOOTER END*/


@import "media" // Always at the end
